/* styles.css 
   TODO:  come up with a design
*/

body {
    font-family:        Verdana, Arial, Sans-Serif;
    font-size:          16px;
}

img {
    border-style:       none;
}


#page_container {
    width:              1024px;
    margin-left:        auto;
    margin-right:       auto;
    padding-bottom:     10px;
}

#status {
    color:              red;
}

#top_menu {
	color:				#378e7b;
	background-color:	#b0c4de;
	font-weight:		bold;
    text-align:         center;
    width:              100%;
}

a.top_menu:link 		{color:#378e7b;}     
a.top_menu:visited 	{color:#871ce;}  
a.top_menu:hover 	{color:#f4b223;} 

#main_title {
    font-size:          14pt;
    font-weight:        bold;
}
