/* styles.css 
   TODO:  come up with a design
*/

body {
    font-family:        Verdana, Arial, Sans-Serif;
    font-size:          16px;
}

img {
    border-style:       none;
}


page_container {
    width:              1024px;
    margin-left:        auto;
    margin-right:       auto;
    padding-bottom:     10px;
}

status {
    color:              red;
}

top_menu {
	color:				white;
	background-color:	#b0c4de;
	font-weight:		bold;
    text-align:         center;
    width:              100%;
}

main_title {
    font-size:          14pt;
    font-weight:        bold;
}
